html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  transition: all 0.3s;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar a {
  transition: 0.3s;
}
.navbar a:hover {
  color: #0dcaf0;
}

.card > img {
  width: 128px;
  height: 128px;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
}
